/* Hire CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121b25;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 2rem; 
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.logo {
  width: 10rem;
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px 10px;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-toggle{
    display: none;
    flex-direction: column;
    gap: 0.3rem;
}

.nav-toggle span{
    background-color: red;
    height: 0.3rem;
    width: 2rem;
    border-radius: 5px;
    display: block;
}

@media (max-width: 850px){
    .nav-items{
        display: none;
    }
    .nav-toggle{
        display: flex;
    }
    
}

.hire-section {
  background-color: #1e293b;
  padding: 2rem;
  margin-top: 10rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.hire-section h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #a855f7;
  text-align: center;
}

.hire-section p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #cbd5e1;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form label {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

form input, form textarea {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background: #334155;
  color: #fff;
  font-size: 1rem;
}

form button {
  margin-top: 1.5rem;
  padding: 0.9rem;
  background-color: #a855f7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #9333ea;
}

.alt-contact {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.alt-contact a {
  color: #f3f4f6;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: color 0.3s ease;
}

.alt-contact a:hover {
  color: #a855f7;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  background: #1e293b;
  padding: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: #cbd5e1;
}

/* Large screen styles */
@media (min-width: 768px) {
  .profile {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    gap: 3rem;
    padding: 4rem 2rem;
  }

  .profile-info {
    max-width: 500px;
  }

  .profile-img {
    margin-bottom: 0;
  }
}
